h1 {
    font-family: 'Times New Roman', Times, serif;
}

.sandybg {
    background-color: navajowhite !important;
}

.diffbg {
    background-color: navy !important;
}

.diffcolorfont {
    color: navy !important;
}

.tabby {
    height: 750px !important;
}

.youtubevid {
    position: absolute !important;
    top: 120px !important;
    left: 400px !important;
    height: 90px !important;
    width: 160px !important;
}

.dbacks {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    color: teal !important;
}

.test {
    font-style: italic;
    font-family: fantasy;
    color: maroon;
}